
/* 
Created on: 17 Sep, 2014, 4:29:37 PM
Author: senthil
*/

.ti_tx,
.mi_tx,
.mer_tx {
	width: 100%;
	text-align: center;
	margin: 5px 0;
}
.ti_tx{position:relative;}
.ti_tx::after{position:absolute; right:-16px; content:":"; width:5px; height:48px; top:8px;}

.time,
.mins,
.meridian {
	width: 60px;
	float: left;
	margin: 0 15px;
	font-size: 18px;
	color: #2d2e2e;
	font-family: arial;
	font-weight: 700;
}

.prev,
.next {
	cursor: pointer;
	width: 48px;
	border: 1px solid #ccc;
	margin: auto;
	height:15px;
	
}

.prev.action-next{border-radius:4px 4px 0 0; background:#767676 url(../img/btn/time_up.png)no-repeat center;}
.next.action-prev{border-radius:0 0 4px 4px; background:#767676 url(../img/btn/time_down.png)no-repeat center;}
.time .prev.action-next, .time .next.action-prev {text-indent:-9999em;}
.mins .prev.action-next, .mins .next.action-prev {text-indent:-9999em;}

.next {
	background-position: 50% 150%;
}

.prev {
	background-position: 50% -50%;
}
.meridian .timepicki-input{display:none;}
.meridian .prev.action-next{width:55px; line-height:41px; font-size:13px; height:41px; background:none;background-position: 50% 150%;border-radius:5px;
text-align:center;}
.meridian .next.action-prev{width:55px; line-height:41px; font-size:13px; height:41px; background:none;background-position: 50% -50%;border-radius:5px;
text-align:center;}
.meridian .prev.action-next.on{background-color:#ff7227; color:#fff;}
.meridian .next.action-prev.on{background-color:#ff7227; color:#fff;}

.timepicker_wrap {
	padding: 40px 11px 26px 11px;
	border-radius: 5px;
	z-index: 30;
	display: none;
	background:url(../img/sub/time_form_img.png)no-repeat center;
	background-size:100%;
	float: left;
	position: absolute;
	margin-top:40px;
	margin-left:-50px;
	width:270px; 
	height:95px;
}

.arrow_top {
	position: absolute;
	top: -10px;
	left: 20px;
	background: url(../images/top_arr.png) no-repeat;
	width: 18px;
	height: 10px;
	z-index: 1;
}
input.timepicki-input {
	background: none repeat scroll 0 0 #FFFFFF;
    	border: 1px solid #dbdbdb;
    	float: none;
    	margin: 0;
    	text-align: center;
    	width: 46px ;
		height:46px ;
		font-size:18px;
		line-height:42px ;
}
a.reset_time {
	float: left;
	margin-top: 5px;
	color: #000;
}

/* mobile  */
@media screen and (max-width: 736px){
.timepicker_wrap {margin-top:0px; margin-left:0px; top:70px !important; width:230px; right:0;}
.time, .mins, .meridian{margin:0 8px;}
.ti_tx::after{right:-11px;}
}